.appointments-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.appointments-title {
    padding: 1rem 0;
    font-size: 2rem;
    text-align: center;
    color: white;
    text-align: left;
    padding-left: 4rem;
    border-bottom: 1px solid white;
}

.appointments-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: white;
    border-radius: 15px;
    padding: 1rem 4rem;
    place-items: center;
    flex: 1;
    text-align: center;
    max-width: 1300px;
    margin: 0 auto 2rem auto;
}

.column-title {
    font-weight: bold;
}

.review-button {
    border: none;
    background-color: rgb(23, 116, 255);
    font-size: 1.5rem;
    border-radius: 15px;
    color: white;
    padding: 1.3rem 1rem;
    min-width: 125px;
}

.review-button:hover {
    cursor: pointer;
    background-color: rgb(88, 155, 255);
}

.appointments-list span {
    font-size: 1.7rem;
}

.schedule-link {
    margin: auto;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    background-color: white;
    padding: 1rem 2rem;
    color: black;
    border-radius: 40px;
}

.schedule-link:hover {
    text-decoration: underline;
    
}