.form-container {
    border-radius: 15px;

    width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    color: black;
    gap: 2rem;

    max-height: 770px;
}

.form-title {
    font-size: 2rem;
}

.form-field {
    margin-top: 1.2rem;
    width: 100%;
}

.form-field-input {
    padding: 0.4rem;
    margin-top: 0.2rem;
    border: none;
    border-bottom: 1px solid black;
    font-size: 2rem;
}

.form-field-input:focus {
    outline: none !important;
    box-shadow: 0 0 2px black;
}

.submit-button {
    border: none;
    padding: 1rem 2.4rem;
    border-radius: 15px;
    background-color: #34373b;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.submit-button:hover {
    cursor: pointer;
    background-color: #5e697e;
}

.error-box {
    color: rgba(219, 36, 4, 0.938);
    font-size: 1.6rem;
    margin: 2rem 0;
}

.react-time-picker {
    width: 100%;
    font-size: 2rem;
}

.react-time-picker button {
    padding: 1rem;
}

