.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    background-color: white;
    width: 30%;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
}

.form-title {
    font-size: 2.5rem;
}

.form-field {
    margin-top: 1.5rem;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field input {
    padding: 1rem 0.8rem;
    margin-top: 0.3rem;
    border: none;
    border-bottom: 1px solid black;
    font-size: 2rem;
}

.form-field input:focus {
    outline: none !important;
    box-shadow: 0 0 2px black;
    border-bottom: none;
}

.submit-button {
    border: none;
    padding: 1rem 2.4rem;
    border-radius: 15px;
    background-color: #4f5d75;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 1.5rem;
    
}

.submit-button:hover {
    cursor: pointer;
    background-color: #5e697e;
}

@media screen and (max-width: 1605px) {
    .form-container {
        width: 60%;
    }
}

@media screen and (max-width: 860px) {
    .form-container {
        width: 90%;
    }
}