.header {
    display: flex;
    align-items: center;
    background-color: white;
    font-size: 1.4rem;
    justify-content: space-between;
}

.header h1 {
    margin-left: 2rem;
}

.spacer {
    text-align: center;
}

.logout-button {
    padding: 1.6rem 4rem;
    background-color: white;
    font-size: 1.3rem;
    border: none;
}

.logout-button:hover {
    background-color: rgb(219, 219, 219);
    cursor: pointer;
    text-decoration: underline;
}